<div id="c-title">
  <div class="container">
    <h1>Upload Contribution</h1>
  </div>
</div>

<div id="upload-input">
  <form #dtInputForm="ngForm" >
  <div class="container">
    <div class="select-type">
      <div class="type-title">
        <h1>Type</h1>
        <select class="tt-conmet" [(ngModel)]="types" [ngModelOptions]="{standalone: true}">
          <option [ngValue]="plan">Connectivity</option>
        </select>
        <p>
          Here: {{types}}
        </p>

        <div class="tt-uploadtype">
          <h1>Connectivity Type</h1>
          <select class="tt-type" >
            <option value="connectivity">Plant - Compound</option>
            <option value="connectivity">Compound Similarity</option>
            <option value="connectivity">Compound - Protein</option>
            <option value="connectivity">Protein - Disease</option>
          </select>

          <select class="tt-type">
            <option value="connectivity">Plant</option>
            <option value="connectivity">Compound</option>
            <option value="connectivity" >Protein</option>
            <option value="connectivity">Disease</option>
          </select>
        </div>
      </div>
<!--
      <div class="type-input">
        <h1>Add new connectivity</h1>
        <div class="plantinput">
          <h6>Plant</h6>
          <input placeholder="Latin Name" type="text" [ngModelOptions]="{standalone: true}"/>
          <input placeholder="Indonesian Name" type="text" [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="compoundinput">
          <h6>Compound</h6>
          <input placeholder="Pubchem Name" type="text" [ngModelOptions]="{standalone: true}"/>
          <input placeholder="Pubchem Id" type="text" [ngModelOptions]="{standalone: true}"/>
          <input placeholder="IUPAC Name" type="text" [ngModelOptions]="{standalone: true}"/>
          <input placeholder="CAS Id" type="text" [ngModelOptions]="{standalone: true}"/>
          <input placeholder="Drugbank Id" type="text" [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="compoundinput2">
          <h6>Compound</h6>
          <input placeholder="Pubchem Name" type="text" />
          <input placeholder="Pubchem Id" type="text" />
          <input placeholder="IUPAC Name" type="text" />
          <input placeholder="CAS Id" type="text" />
          <input placeholder="Drugbank Id" type="text" />
        </div>

        <div class="proteininput">
          <h6>Protein</h6>
          <input placeholder="CAS ID/Pubchem Name/IUPAC Name" type="text" />
          <input placeholder="CAS ID/Pubchem Name/IUPAC Name" type="text" />
        </div>

        <div class="diseaseinput">
          <h6>Disease</h6>
          <input placeholder="CAS ID/Pubchem Name/IUPAC Name" type="text" />
          <input placeholder="CAS ID/Pubchem Name/IUPAC Name" type="text" />
        </div>
      </div> -->

    </div>
<!--
    <div class="contributor-detail">
      <h1>Contributor Details</h1>
      <input placeholder="Name" type="text" />
      <input placeholder="Email" type="email" />
      <input placeholder="Affiliation" type="text" />
    </div>

    <div class="publication-detail">
      <h1>Publication Details</h1>
      <input placeholder="Title" type="text" />
      <input placeholder="Author" type="text" />
      <input placeholder="Year" type="text" />
      <input placeholder="Journal" type="text" />
      <input placeholder="Link" type="url" />
    </div> -->
  </div>
  </form>
</div>
