<div id="c-title">
  <div class="container">
    <h1>Upload Contribution</h1>
  </div>
</div>

<div id="loading" *ngIf='showloadFirst'>
  <div class="loader"></div>
  <h5>loading..</h5>
</div>

<div id="loading" *ngIf='showload'>
  <div class="loader"></div>
  <h5>uploading..</h5>
</div>

<div id="loading" *ngIf='showFailed'>
  <div class="failed-modal">
    <h3><b>Failed to Upload</b></h3>
    <h5>Error Message: {{errMsg}}</h5>
    <button type="button" name="button" (click)="closeError()">Ok</button>
  </div>
</div>

<div id="loading" *ngIf='showSuccess'>
  <div class="success-modal">
    <h3><b>Success to Upload</b></h3>
    <h5>Thank you for contributing to enhance IJAH Analyics</h5>
    <button type="button" name="button" (click)="closeSuccess()">Ok</button>
  </div>
</div>

<div id="f-input">
  <div class="container">
  <form class="forms" #dtInputForm="ngForm"  (ngSubmit)="onUpload()" enctype="multipart/form-data" ngNativeValidate>
      <div class="form-title">
        <p>Upload your contribution with enter the information</p>
      </div>
      <div class="form-type">
        <div class="truetype">
          <h5>Type:</h5>
          <button [style.background]="openConnectivity ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="typeConnectivity()">Connectivity</button>
          <button [style.background]="openMetadata ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="typeMetadata()">Metadata</button>
        </div>
        <div class="subtype-connectivity" *ngIf="openConnectivity">
          <h5>Subtype:</h5>
          <button [style.background]="plaConnectivity ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="placomConnectivity()">Plant-Compound</button>
          <button [style.background]="com1Connectivity ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="comcomConnectivity()">Compound Similarity</button>
          <button [style.background]="proConnectivity && comConnectivity ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="comproConnectivity()">Compound-Protein</button>
          <button [style.background]="disConnectivity ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="prodisConnectivity()">Protein-Disease</button>
        </div>
        <div class="subtype-metadata" *ngIf="openMetadata">
          <h5>Subtype:</h5>
          <button [style.background]="plaMetadata ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="plaMetadataOpen()">Plant</button>
          <button [style.background]="comMetadata ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="comMetadataOpen()">Compound</button>
          <button [style.background]="proMetadata ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="proMetadataOpen()">Protein</button>
          <button [style.background]="disMetadata ? '#4CAF50':'#3E4B3E'" type="button" name="button" (click)="disMetadataOpen()">Disease</button>
        </div>
        <div class="type-connectivity">
          <div class="connectivity-data" *ngIf="openConnectivity">
            <h6>Connectivity Data:</h6>
            <input *ngIf="plaConnectivity" id="typeahead-target" placeholder="Plant Input" type="text" class="form-control"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchPlant"
            [(ngModel)]="modelPla"
            [value]="modelPla" required/>
            <input *ngIf="comConnectivity" id="typeahead-target" placeholder="Compound Input" type="text" class="form-control"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchCompound"
            [(ngModel)]="modelCom"
            [value]="modelCom" required/>
            <input *ngIf="com1Connectivity" id="typeahead-target" placeholder="Compound Input" type="text" class="form-control"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchCompound"
            [(ngModel)]="modelCom1"
            [value]="modelCom1" required/>
            <input *ngIf="proConnectivity" id="typeahead-target" placeholder="Protein Input" type="text" class="form-control"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchProtein"
            [(ngModel)]="modelPro"
            [value]="modelPro" required/>
            <input *ngIf="disConnectivity" id="typeahead-target" placeholder="Disease Input" type="text" class="form-control"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchDisease"
            [(ngModel)]="modelDis"
            [value]="modelDis" required/>
          </div>
          <div class="metadata-data" *ngIf="openMetadata">
            <h6>Metadata Data:</h6>
            <div class="metadata-plant" *ngIf="plaMetadata">
              <input  id="typeahead-target" placeholder="New Plant Latin Name (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="plantMetadata.pla_name"
              [value]="plantMetadata.pla_name" required/>
              <input  id="typeahead-target" placeholder="New Plant Indonesian Name (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="plantMetadata.pla_idr_name"
              [value]="plantMetadata.pla_idr_name" required/>
            </div>
            <div class="metadata-compound" *ngIf="comMetadata">
              <input  id="typeahead-target" placeholder="New Compound Pubchem ID (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_pubchem_id"
              [value]="compoundMetadata.com_pubchem_id" required/>
              <input  id="typeahead-target" placeholder="New Compound Pubchem Name (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_pubchem_name"
              [value]="compoundMetadata.com_pubchem_name"/>
              <input  id="typeahead-target" placeholder="New Compound IUPAC Name" type="text" class="form-control"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="compoundMetadata.com_iupac_name"
            [value]="compoundMetadata.com_iupac_name"/>
              <input  id="typeahead-target" placeholder="New Compound Drugbank ID" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_drugbank_id"
              [value]="compoundMetadata.com_drugbank_id"/>
              <input  id="typeahead-target" placeholder="New Compound Knapsack ID" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_knapsack_id"
              [value]="compoundMetadata.com_knapsack_id"/>
              <input  id="typeahead-target" placeholder="New Compound Kegg ID" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_kegg_id"
              [value]="compoundMetadata.com_kegg_id"/>
              <input  id="typeahead-target" placeholder="New Compound CAS ID" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_cas_id"
              [value]="compoundMetadata.com_cas_id"/>
              <input  id="typeahead-target" placeholder="New Compound Smiles" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_smiles"
              [value]="compoundMetadata.com_smiles"/>
              <input  id="typeahead-target" placeholder="New Compound Pubchem Synonym" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_pubchem_synonym"
              [value]="compoundMetadata.com_pubchem_synonym"/>
              <input  id="typeahead-target" placeholder="New Compound Smiles Isomeric" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_smiles_isomeric"
              [value]="compoundMetadata.com_smiles_isomeric"/>
              <input  id="typeahead-target" placeholder="New Compound Smiles Canonical" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_smiles_canonical"
              [value]="compoundMetadata.com_smiles_canonical"/>
              <input  id="typeahead-target" placeholder="New Compound Inchikey" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="compoundMetadata.com_inchikey"
              [value]="compoundMetadata.com_inchikey"/>
            </div>
            <div class="metadata-protein" *ngIf="proMetadata">
              <input id="typeahead-target" placeholder="New Protein Uniprot ID (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="proteinMetadata.pro_uniprot_id"
              [value]="proteinMetadata.pro_uniprot_id" required/>
              <input id="typeahead-target" placeholder="New Protein Uniprot ABBRV (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="proteinMetadata.pro_uniprot_abbrv"
              [value]="proteinMetadata.pro_uniprot_abbrv" required/>
              <input id="typeahead-target" placeholder="New Protein Name (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="proteinMetadata.pro_name"
              [value]="proteinMetadata.pro_name" required/>
              <input id="typeahead-target" placeholder="New Protein PDB ID (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="proteinMetadata.pro_pdb_id"
              [value]="proteinMetadata.pro_pdb_id" required/>
            </div>
            <div class="metadata-disease" *ngIf="disMetadata">
              <input  id="typeahead-target" placeholder="New Disease OMIM ID (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="diseaseMetadata.dis_omim_id"
              [value]="diseaseMetadata.dis_omim_id" required/>
              <input  id="typeahead-target" placeholder="New Disease Uniprot ABBRV (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="diseaseMetadata.dis_uniprot_abbrv"
              [value]="diseaseMetadata.dis_uniprot_abbrv" required/>
              <input  id="typeahead-target" placeholder="New Disease Name (Required)" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="diseaseMetadata.dis_name"
              [value]="diseaseMetadata.dis_name" required/>
            </div>
          </div>
        </div>

      </div>
      <div class="form-contributors">
        <h5>Contributor Details</h5>
        <input type="text" id="typeahead-target" placeholder="Your Name" class="form-control" [(ngModel)]="contributor.name" name="name" value="contributor.name" required>
        <input type="email" id="typeahead-target" placeholder="Your Email" class="form-control" [(ngModel)]="contributor.email" name="email" value="contributor.email" required>
        <input type="text" id="typeahead-target" placeholder="Your Affiliation/Organization/University" [(ngModel)]="contributor.affiliation" class="form-control" name="affiliation" value="contributor.affiliation" required>
      </div>
      <div class="form-publication">
        <h5>Publication Data</h5>
        <input type="text" id="typeahead-target" placeholder="Publication Title" class="form-control" [(ngModel)]="publication.title" name="title" value="publication.title" required>
        <input type="text" id="typeahead-target" placeholder="First Author's Name" class="form-control" [(ngModel)]="publication.author" name="author" value="publication.author" required>
        <input type="text" id="typeahead-target" placeholder="Publication Year Published" class="form-control" [(ngModel)]="publication.year" name="year" value="publication.year" required>
        <input type="text" id="typeahead-target" placeholder="Journal or Conference Where Published" class="form-control" [(ngModel)]="publication.journal" name="journal" value="publication.journal" required>
        <input type="text" id="typeahead-target" placeholder="Url of Publication" class="form-control" [(ngModel)]="publication.link" name="link" value="publication.link" required>
      </div>
      <div class="Upload-files">
        <h5>Upload Publication File</h5>
        <input type="file" (change)="onFileSelected($event)" [(ngModel)]="fileUpload" value="fileUpload" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="btn_form">
        <button type="submit" name="button">Submit</button>
      </div>
  </form>
  </div>
</div>
