<div id="d-title">
  <div class="container">
    <h1>Drug-Target Connectivity</h1>
  </div>
</div>

<div id="d-input">
  <div class="container">
    <div class="dic-button-atas">
    <h2 class="dic-title"> Choose Input Side : </h2>
    <button type="reset" [style.background]="dsInput ? '#4CAF50' : '#3E4B3E'" (click)="ds_input_btn()">Drug Side</button>
    <button type="reset" [style.background]="tsInput ? '#4CAF50' : '#3E4B3E'" (click)="ts_input_btn()">Target Side</button>
    <button type="reset" [style.background]="dstsInput ? '#4CAF50' : '#3E4B3E'" (click)="dsts_input_btn()">Drug & Target Side</button>
    </div>
  </div>
  <form #dtInputForm="ngForm"  (ngSubmit)="predict()" ngNativeValidate>
  <div class="container">
    <div class="di-container" *ngIf="dsInput || dstsInput">
      <h1 class="dic-title">Drug Side</h1>
      <div class="dic-button">
        <button type="button" [style.background]="pla_input_btn ? '#4CAF50' : '#3E4B3E'" (click)="plant_input()">Plant Input</button>
        <button type="button" [style.background]="com_input_btn ? '#4CAF50' : '#3E4B3E'" (click)="compound_input()">Compound Input</button>
      </div>

      <div *ngIf="pla_input_btn">
        <h1 class="choice-title">Plant Input</h1>
        <div class="dic_input">
          <div class="ngForm" *ngFor="let plantFor of plantFor; let i = index;">
            <div>
              <input id="typeahead-target" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [ngbTypeahead]="searchPlant"
              [(ngModel)]="plantFor.name"
              [value]="plantFor.name" required/>
              <button class="close-icon" type="reset" (click)="removePlant(i)"><img src="assets/img/reset.png"/></button>
            </div>
          </div>
          <div class="close_icon">
            <button type="button" [style.display]="addDrug_btn > 4 ? 'none' : 'inline'" (click)="addPlant(i)">+ Add Input</button>
          </div>
        </div>

      </div>

      <div *ngIf="com_input_btn">
          <h1 class="choice-title">Compound Input</h1>
          <div class="dic_input">
            <div class="ngForm" *ngFor="let compoundFor of compoundFor; let i = index;">
              <div>
                <input id="typeahead-target" type="text" class="form-control"
                [ngModelOptions]="{standalone: true}"
                [ngbTypeahead]="searchCompound"
                [(ngModel)]="compoundFor.name"
                [value]="compoundFor.name" required/>
                <button class="close-icon" type="button" (click)="removeCompound(i)"><img src="assets/img/reset.png"/></button>
              </div>
            </div>
            <div class="close_icon">
              <button type="button" [style.display]="addDrug_btn > 4 ? 'none' : 'inline'" (click)="addCompound()">+ Add Input</button>
            </div>
          </div>
      </div>
    </div>
    <div class="di-container" *ngIf="tsInput || dstsInput">
      <h1 class="dic-title">Target Side</h1>
      <div class="dic-button">
        <button type="button" [style.background]="pro_input_btn ? '#4CAF50' : '#3E4B3E'" (click)="protein_input()">Protein Input</button>
        <button type="button" [style.background]="dis_input_btn ? '#4CAF50' : '#3E4B3E'" (click)="disease_input()">Disease Input</button>
      </div>

      <div *ngIf="pro_input_btn">
        <h1 class="choice-title">Protein Input</h1>
        <div class="dic_input">
          <div class="ngForm" *ngFor="let proteinFor of proteinFor; let i = index;">
            <div>
              <input id="typeahead-target" type="text" class="form-control"
              [ngModelOptions]="{standalone: true}"
              [ngbTypeahead]="searchProtein"
              [(ngModel)]="proteinFor.name"
              [value]="proteinFor.name" required/>
              <button class="close-icon" type="reset" (click)="removeProtein(i)"><img src="assets/img/reset.png"/></button>
            </div>
          </div>
          <div class="close_icon">
            <button type="button" [style.display]="addTarget_btn > 4 ? 'none' : 'inline'" (click)="addProtein(i)">+ Add Input</button>
          </div>
        </div>

      </div>

      <div *ngIf="dis_input_btn">
          <h1 class="choice-title">Disease Input</h1>
          <div class="dic_input">
            <div class="ngForm" *ngFor="let diseaseFor of diseaseFor; let i = index;">
              <div>
                <input id="typeahead-target" type="text" class="form-control"
                [ngModelOptions]="{standalone: true}"
                [ngbTypeahead]="searchDisease"
                [(ngModel)]="diseaseFor.name"
                [value]="diseaseFor.name" required/>
                <button class="close-icon" type="button" (click)="removeDisease(i)"><img src="assets/img/reset.png"/></button>
              </div>
            </div>
            <div class="close_icon">
              <button type="button" [style.display]="addTarget_btn > 4 ? 'none' : 'inline'" (click)="addDisease()">+ Add Input</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="di-button">
    <!-- (click)="resetinput() -->
    <button class="reset">Reset</button>
    <button type="submit" [ngx-scroll-to]="'#dest'" class="search">Search</button>
  </div>
  </form>
  <div id="dest">
  </div>
</div>


<div id="loading" *ngIf='showload'>
  <div class="loader"></div>
  <h5>predicting..</h5>
</div>

<div id="loading" *ngIf='showloadFirst'>
  <div class="loader"></div>
  <h5>loading..</h5>
</div>


<div id="d-result" *ngIf='showresult'>
  <div class="container">
    <div class="ctitle">
      <div class="ctitle-box">
        <h1>Drug-Target Result</h1>
        <p>The result based your input <span [style.display]="showfilter > 0 ? 'inline' : 'none'" >with compound-protein min weight <b>{{showfilter}}</b>, max weight <b>{{showfiltermax}}</b></span></p>
      </div>
      <button type="button" (click)="openfilter()">Filter <i class="fa fa-filter"></i></button>
    </div>
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="Summary">
        <ng-template ngbTabContent>
          <div class="drs-place">
            <div class="drsp-atas">
              <div class="drspa-atas">
                <h6 class="score">{{totalScore}}</h6>
                <h6 class="scoreName">Total Connectivity Score</h6>
              </div>
              <div class="drspa-bawah">
                <div>
                  <h6 class="score" [style.color]="'#2ECC43'">{{pla_com_score}}</h6>
                  <h6 class="scoreName">Plant-Compound Connectivity Score</h6>
                </div>
                <!-- <div>
                  <h6 class="score" [style.color]="'#94AE27'">{{com_com_score}}</h6>
                  <h6 class="scoreName">Compound-Compound Similarity Score</h6>
                </div> -->
                <div>
                  <h6 class="score" [style.color]="'#94AE27'">{{com_pro_score}}</h6>
                  <h6 class="scoreName">Compound-Protein Connectivity Score</h6>
                </div>
                <div>
                  <h6 class="score" [style.color]="'#AE2762'">{{pro_dis_score}}</h6>
                  <h6 class="scoreName">Protein-Disease Connectivity Score</h6>
                </div>
              </div>
            </div>

            <div class="drsp-bawah">
              <div class="drspb-kiri">
                <div>
                  <h6 class="score">{{plaMeta_table.length}}</h6>
                  <h6>Plants</h6>
                </div>
                <div>
                  <h6 class="score">{{comMeta_table.length}}</h6>
                  <h6>Compounds</h6>
                </div>
                <div>
                  <h6 class="score">{{proMeta_table.length}}</h6>
                  <h6>Proteins</h6>
                </div>
                <div>
                  <h6 class="score">{{disMeta_table.length}}</h6>
                  <h6>Diseases</h6>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Connectivity Graph">
        <ng-template ngbTabContent>
          <div class="buttondownload" (click)="downloadImage()">Download Graph</div>
          <div id="download">
            <img #canvas>
            <a #downloadLink></a>
          </div>
          <div class="legendgraph">
            <p>Plant</p>
            <p>Compound</p>
            <p>Protein</p>
            <p>Disease</p>
          </div>
          <div #screen class="chartnya">
            <google-chart *ngIf="showChart"
            #chart [title]="title"
            [type]="type"
            [data]="temp_sankey"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height">
            </google-chart>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Connectivity Table">
        <ng-template ngbTabContent>
          <div class="ct_button">
            <button [style.background]="pla_com_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="pla_com_btn ? '#ffffff' : '#000000'" (click)="pla_com_on()">Plant - Compound</button>
            <!-- <button [style.background]="com_com_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="com_com_btn ? '#ffffff' : '#000000'" (click)="com_com_on()">Compound Similarity</button> -->
            <button [style.background]="com_pro_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="com_pro_btn ? '#ffffff' : '#000000'" (click)="com_pro_on()">Compound - Protein</button>
            <button [style.background]="pro_dis_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="pro_dis_btn ? '#ffffff' : '#000000'" (click)="pro_dis_on()">Protein - Disease</button>
          </div>
          <div class="ct_table" *ngIf="pla_com_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="plavscom_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Plant Id</th>
                  <th>Plant Latin</th>
                  <!-- <th>Plant Indonesia</th> -->
                  <th>Connectivity Weight</th>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <!-- <th>Compound IUPAC</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let placom_con_table of plavscom_table">
                  <td>{{placom_con_table.pla_id}}</td>
                  <td><a href="javascript:void(0)" (click)="generateLink(placom_con_table.pla_nlat)">{{placom_con_table.pla_nlat}}</a></td>
                  <!-- <td>{{placom_con_table.pla_nidr}}</td> -->
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{placom_con_table.weight}}</td>
                  <td>{{placom_con_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{placom_con_table.com_npub}}" target="_blank">{{placom_con_table.com_npub}}</a></td>
                  <!-- <td>{{placom_con_table.com_npac}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="ct_table" *ngIf="com_com_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="comvscom_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <th>Compound IUPAC</th>
                  <th>Connectivity Weight</th>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <th>Compound IUPAC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compro_con_table of comvscom_table">
                  <td>{{compro_con_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{compro_con_table.com_npub}}" target="_blank">{{compro_con_table.com_npub}}</a></td>
                  <td>{{compro_con_table.com_npac}}</td>
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{compro_con_table.weight}}</td>
                  <td>{{compro_con_table.com_id2}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{compro_con_table.com_npub2}}" target="_blank">{{compro_con_table.com_npub2}}</a></td>
                    <td>{{compro_con_table.pro_uab}}</td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <div class="ct_table" *ngIf="com_pro_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="comvspro_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <!-- <th>Compound IUPAC</th> -->
                  <th>Connectivity Weight</th>
                  <th>Protein Id</th>
                  <th>Protein Name</th>
                  <!-- <th>Protein Uniprot ABBRV</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compro_con_table of comvspro_table">
                  <td>{{compro_con_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{compro_con_table.com_npub}}" target="_blank">{{compro_con_table.com_npub}}</a></td>
                  <!-- <td>{{compro_con_table.com_npac}}</td> -->
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{compro_con_table.weight}}</td>
                  <td>{{compro_con_table.pro_id}}</td>
                  <td><a href="https://www.uniprot.org/uniprot/{{compro_con_table.pro_uab}}" target="_blank">{{compro_con_table.pro_name}}</a></td>
                  <!-- <td>{{compro_con_table.pro_uab}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ct_table" *ngIf="pro_dis_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="provsdis_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Protein Id</th>
                  <th>Protein Name</th>
                  <th>Connectivity Weight</th>
                  <th>Disease Id</th>
                  <th>Disease Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let con_proDis of provsdis_table">
                  <td>{{con_proDis.pro_id}}</td>
                  <td><a href="https://www.uniprot.org/uniprot/{{con_proDis.pro_uab}}" target="_blank">{{con_proDis.pro_name}}</a></td>
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{con_proDis.weight}}</td>
                  <td>{{con_proDis.dis_id}}</td>
                  <td><a href="https://www.omim.org/entry/{{con_proDis.dis_oid}}" target="_blank">{{con_proDis.dis_name}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Metadata">
        <ng-template ngbTabContent>
          <div class="ct_button">
            <button [style.background]="pla_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="pla_btn ? '#ffffff' : '#000000'" (click)="pla_on()">Plant</button>
            <button [style.background]="com_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="com_btn ? '#ffffff' : '#000000'" (click)="com_on()">Compound</button>
            <button [style.background]="pro_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="pro_btn ? '#ffffff' : '#000000'" (click)="pro_on()">Protein</button>
            <button [style.background]="dis_btn ? '#2ECC71' : '#C9C6C6'" [style.color]="dis_btn ? '#ffffff' : '#000000'" (click)="dis_on()">Disease</button>
          </div>
          <div class="meta_table" *ngIf="pla_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="plaMeta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Plant ID</th>
                  <th>Latin Name</th>
                  <th>Indonesia Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pla_meta_table of plaMeta_table">
                  <td>{{pla_meta_table.pla_id}}</td>
                  <td><a href="javascript:void(0)" (click)="generateLink(pla_meta_table.pla_nlat)">{{pla_meta_table.pla_nlat}}</a></td>
                  <td>{{pla_meta_table.pla_nidr}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="meta_table" *ngIf="com_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="comMeta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Compound ID</th>
                  <th>Pubchem Name</th>
                  <th>CASR Number</th>
                  <th>IUPAC Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let com_meta_table of comMeta_table">
                  <td>{{com_meta_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{com_meta_table.com_name}}" target="_blank">{{com_meta_table.com_name}}</a></td>
                  <td><a href="http://www.molbase.com/cas/{{com_meta_table.com_ccid}}.html" target="_blank">{{com_meta_table.com_ccid}}</a></td>
                  <td>{{com_meta_table.com_npac}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="meta_table" *ngIf="pro_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="proMeta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Protein ID</th>
                  <th>Uniprot Name</th>
                  <th>ABBRV Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pro_meta_table of proMeta_table">
                  <td>{{pro_meta_table.pro_id}}</td>
                  <td><a href="https://www.uniprot.org/uniprot/{{pro_meta_table.pro_uab}}" target="_blank">{{pro_meta_table.pro_name}}</a></td>
                  <td><a href="https://www.uniprot.org/uniprot/{{pro_meta_table.pro_uab}}" target="_blank">{{pro_meta_table.pro_uab}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="meta_table" *ngIf="dis_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="disMeta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Disease ID</th>
                  <th>Disease Name</th>
                  <th>OMIM Number</th>
                  <th>ABBRV Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dis_meta_table of disMeta_table">
                  <td>{{dis_meta_table.dis_id}}</td>
                  <td><a href="https://www.omim.org/entry/{{dis_meta_table.dis_oid}}" target="_blank">{{dis_meta_table.dis_name}}</a></td>
                  <td><a href="https://www.omim.org/entry/{{dis_meta_table.dis_oid}}" target="_blank">{{dis_meta_table.dis_oid}}</a></td>
                  <td><a href="https://www.uniprot.org/diseases/?query={{dis_meta_table.dis_uab}}&sort=score" target="_blank">{{dis_meta_table.dis_uab}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </div>
</div>

<div id="modaldt" [style.display]="showmodals ? 'block' : 'none'">
  <div class="containers">
    <div class="c-containers">
      <i class="fa fa-close" [style.color]="black" (click)="openfilter()"></i>
      <h1>Filter Output</h1>
      <!-- <div class="slidecontainer">
        <input type="range" [(ngModel)]="filtermodel" min="0.00" max="1.00" value="0" step="0.0001" class="slider" id="myRange">
      </div> -->
      <p class="information">Minimum input 0 and maximum input 1, <b>minimum input cannot bigger than maximum input</b></p>
      <div class="inputcontainer">
        <div class="inner-input-container">
          <p>Minimum :</p>
          <input type="text" [(ngModel)]="filtermodel" value="0.0"/>
        </div>

        <div class="inner-input-container">
          <p>Maximum :</p>
          <input type="text" [(ngModel)]="filtermodelMax" value="1.0"/>
        </div>
      </div>
      <!-- <p>
        Minimum Compound Similarity Weight :<br />
        <span>{{filtermodel}}</span>
      </p> -->
      <div class="btn_div_modal">
        <button type="button" (click)="filtercallback()">Apply</button>
      </div>
    </div>
  </div>
</div>
