<div id="s-title">
  <div class="container">
    <h1>Compound Synergi</h1>
  </div>
</div>

<div id="s-input">
  <div class="container">
    <form #dtInputForm="ngForm"  (ngSubmit)="predict()" ngNativeValidate>
    <div class="si-container">
      <h1>Disease Name</h1>
        <input id="typeahead-target"
        placeholder="OMIM Name/OMIM ID"
        type="text" class="form-control"
        [ngModelOptions]="{standalone: true}"
        [ngbTypeahead]="searchDisease"
        [(ngModel)]="modelDis"
        [editable]='false' required/>
      <div class="si-form">
        <button type="submit" [ngx-scroll-to]="'#destination'">Search</button>
      </div>
    </div>
    </form>
  </div>
  <div id="destination">
  </div>
</div>

<div id="loading" *ngIf='showloadfirst'>
  <div class="loader"></div>
  <h5>loading..</h5>
</div>

<div id="loading" *ngIf='showload'>
  <div class="loader"></div>
  <h5>predicting..</h5>
</div>

<div id="s-result" *ngIf='showresult'>
  <div class="container">
    <h1>Synergi Result</h1>
    <p>Table of Synergis Compound of <b>{{model_parse}} disease</b></p>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="!showload" class="row-border hover">
      <thead>
        <tr>
          <th>Compound 1</th>
          <th>Compound 2</th>
          <th>Agent Score</th>
          <th>Topology Score</th>
          <th>Synergi Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let synergi of synergi">
          <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{synergi.com1}}" target="_blank">{{synergi.com1}}</a></td>
          <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{synergi.com2}}" target="_blank">{{synergi.com2}}</a></td>
          <td>{{synergi.as}}</td>
          <td>{{synergi.ts}}</td>
          <td [style.background]="'#8cff92'"><b>{{synergi.ss}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
