<div id="s-title">
  <div class="container">
    <h1>Compound Synergi</h1>
  </div>
</div>

<div id="s-input">
  <div class="container">
    <form #dtInputForm="ngForm"  (ngSubmit)="predict()" ngNativeValidate>
    <div class="si-container">
      <h1>Disease Name</h1>
        <input id="typeahead-target" type="text" class="form-control"
        [ngModelOptions]="{standalone: true}"
        [ngbTypeahead]="searchDisease"
        [(ngModel)]="modelDis"
        [editable]='false' required/>
      <div class="si-form">
        <button type="submit">Search</button>
      </div>
    </div>
    </form>
  </div>
</div>

<div id="loading" *ngIf='showload'>
  <div class="loader"></div>
  <h5>predicting..</h5>
</div>

<div id="s-result" *ngIf='showresult'>
  <div class="container">
    <h1>Synergi Result</h1>
    <p>Table of Synergis Compound of <b>{{model_parse}} disease</b></p>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>Compound 1</th>
          <th>Compound 2</th>
          <th>Agent Score</th>
          <th>Topology Score</th>
          <th>Synergi Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let synergi of synergi">
          <td><b>{{synergi[0]}}</b></td>
          <td><b>{{synergi[1]}}</b></td>
          <td>{{synergi[2]}}</td>
          <td>{{synergi[3]}}</td>
          <td [style.background]="'#8cff92'"><b>{{synergi[4]}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
