.container {
    width: 90%;
    margin: 0 auto;
}

/*header Style*/

header{
  padding: 1em;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2000 !important;
}

header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #686868;
  text-decoration: none;
}
header img {
  width: 250px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li a {
  padding: 1em 1.5em;
  font-size: 15px !important;
}

header nav ul li a:hover {
    color: #6AE173;
}

header nav ul li a img{
  max-width: 30px;
  margin-right: 10px;
}

/* router outlet */

/* footer */
footer{
  position: absolute;
  width: 100%;
  background: #3DAB45;
  padding: 4rem 0;
  z-index: 200;
}

footer .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .f-left{
  flex-grow: 1;
  min-width: 300px;
  margin-bottom: 20px;
}
footer .fl-comp{
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid white;
  padding-bottom: 20px;
}

footer .fl-comp img{
  width: 80px;
  height: 80px;
}

.flc-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

footer .flc-name h5{
  margin: 0;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
footer .flc-name p{
  margin: 0;
  font-size: 15px;
  color: white;
}

footer .f-right{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  min-width: 400px;
}

footer .fr-link h5{
  font-size: 16px;
  margin: 0;
  color: white;
  font-weight: 700;
}

footer .fr-link ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .fr-link ul li a{
  text-decoration: none;
  font-size: 14px;
  color: white;
}

footer .fr-link ul li a:hover{
  color: #19431B;
}

.hamb{
  display: none;
  cursor: pointer;
}
.hamb:hover{
  transform: scale(1.1);
}

.hambtn{
  width: 25px;
  height: 4px;
  background: #767676;
  margin: 4px 0;
}

nav .fa-close{
  display: none;
  cursor: pointer;
}
nav .fa-close:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 995px) {
  header nav ul li a {
    padding: 1em 0.8em !important;
    font-size: 13px !important;
  }

  header{
    padding: 1em 0 !important;
  }
}

@media only screen and (max-width: 780px){
  .container{
    width: 100% !important;
    padding: 0 !important;
  }
  .hamb{
    display: inline;
    margin: 0 10px;
    margin-left: -20px;
  }

  nav{
    display:none;
    position: fixed;
    z-index: 10000000;
    right: 0;
    bottom: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: white;
  }

  nav .fa-close{
    display: block;
    color: #555555;
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 20px;
    font-size: 25px;
  }
  header nav ul{
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    background: #F4F4F4;
  }
  nav li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    height: 30px;
    padding: 0;
  }

  nav li a{
    font-size: 10px !important;
  }

  .logo{
      transform: scale(0.8);
  }
}
