<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="assets/img/logo.png" class="img-responsive"></a>
    <nav>
      <ul>
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
            Search and Predict
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/drugtarget"><img src="assets/img/feautre1.png" />Drug-Target Connectivity</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/cluster"><img src="assets/img/feature2.png" /> Cluster  Connectivity</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/synergi"><img src="assets/img/feature3.png" />Synergi Compound</a>
          </div>
        </li>
        <li><a href="#" >Contribute</a></li>
        <li><a href="#" >About Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="f-left">
      <div class="fl-comp">
        <img src="assets/img/ipblogo.png"/>
        <div class="flc-name">
          <h5>Tropical Biopharmaca Research Center</h5>
          <p>Jalan Taman Kencana No.3, Bogor, Indonesia</p>
        </div>
      </div>
      <div class="fl-acc">

      </div>
    </div>
    <div class="f-right">
      <div class="fr-link">
        <h5>Developers</h5>
        <ul>
            <li><a href="#">IJAH v1</a></li>
            <li><a href="#">IJAH v2</a></li>
            <li><a href="https://github.com/tttor/csipb-jamu-prj">Repository</a></li>
            <li><a href="#">Our Team</a></li>
        </ul>
      </div>
      <div class="fr-link">
        <h5>Product</h5>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Open an Issue</a></li>
        </ul>
      </div>
      <div class="fr-link">
        <h5>Related Links</h5>
        <ul>
            <li><a href="http://jamu.ipb.ac.id/" target="_blank">jamu.ipb.ac.id</a></li>
            <li><a href="http://www.iherb.org/" target="_blank">iherb.org</a></li>
            <li><a href="http://www.herbs.org/" target="_blank">herbs.org</a></li>
            <li><a href="http://www.herbsociety.org/" target="_blank">herbsociety.org</a></li>
            <li><a href="https://herbalisnusantara.com">herbalisnusantara</a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
