
.container {
    width: 90%;
    margin: 0 auto;
}


#download {
  display: none;
}
/* title */
#c-title{
  width: 100%;
  background: #6AE173;
  padding: 1.5em 0;
  margin-top: 85px;
}

#c-title h1{
  color: white;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

/* input */
#c-input{
  padding: 5rem 0;
  background: #3E4B3E;
  width: 100%;
}

#c-input h1{
  color: white;
}

#c-input .ci-container{
  display: flex;
  flex-direction: column;
}

#c-input .ci-container h1{
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
}

#c-input .cic-drug, #c-input .cic-target{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#c-input .cic-drug h1, #c-input .cic-target h1{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

#c-input .cic-drug .cicd{
  width: 33%;
}

#c-input .cic-target .cict-efficacy{
  width: 17%;
}
#c-input .cic-target .cict-activity{
  width: 23%;
}
#c-input .cic-target .cict-target{
  width: 60%;
}

#c-input .cic-drug input{
  width: 96%;
  height: 30px;
  border-radius: 50px;
  margin-bottom: 25px;
}
#c-input input{
  width: 90%;
  height: 30px;
  border-radius: 50px;
  margin-bottom: 25px;
}

/* button pred */
.ci-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ci-form button{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 50px;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.ci-form .reset{
  background-color: #FF6464;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.ci-form button:hover{
  transform: scale(1.05);
}

/* result */
#c-result{
    background: #F6F6F6;
    padding: 4rem 0;
  }

  #c-result h1{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
    color:#505050
  }

  /* summary result */
  #c-result .drs-place{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #c-result .drs-place .drsp-atas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #c-result .drspa-atas{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #c-result .drs-place h6{
    text-align: center;
    font-size: 15px;
    color: #665D55;
  }

  #c-result .drsp-atas .drspa-bawah{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
  }

  #c-result .drsp-atas .drspa-bawah div{
    width: 25.3%;
  }

  #c-result .drs-place .score{
    font-size: 40px;
  }

  #c-result .drspa-atas .score{
    font-size: 50px;
    color: #27AE60;
  }

  #c-result .drspa-atas .scoreName{
    font-size: 25px;
  }

  #c-result .drspa-bawah .scoreName{
    font-size: 20px;
  }


  #c-result .drsp-bawah{
    margin-top: 50px;
    width: 80%;
    border-top: 3px solid #4E4E4E;
    padding-top: 50px;
  }


  #c-result .legendgraph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    background: #3E4B3E;
    margin-bottom: 10px;
  }

  #c-result .legendgraph p{
    color: white;
    font-weight: 700;
    margin: 0;
  }

  #c-result .ct_button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  #c-result .ct_button button{
    margin-right: 10px;
    outline: none;
  }

  #c-result .ct_button button{
    background-color: #C9C6C6; /* Green */
    border: none;
    border-radius: 50px;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
