<div id="c-title">
  <div class="container">
    <h1>Cluster Connectivity</h1>
  </div>
</div>

<div id="c-input">
  <div class="container">
    <div class="ci-container">
      <form #dtInputForm="ngForm" (ngSubmit)="predict()" ngNativeValidate>
      <h1>Drug Side</h1>
      <div class="cic-drug">
        <div class="cicd cicd-analgesic">
          <h1>Analgesic Compound</h1>
          <input id="typeahead-analg"
          placeholder="CAS ID/Pubchem Name/IUPAC Name"
          type="text" class="form-control" [(ngModel)]="modelAnalg" [ngModelOptions]="{standalone: true}"
          [ngbTypeahead]="searchAnalg" required/>
        </div>
        <div class="cicd cicd-bacteri">
          <h1>Antibacterial Compound</h1>
          <input id="typeahead-bacteri"
          placeholder="CAS ID/Pubchem Name/IUPAC Name"
          type="text" class="form-control"
          [(ngModel)]="modelBacteri"
          [ngModelOptions]="{standalone: true}"
          [ngbTypeahead]="searchBacteri" required/>
        </div>
        <div class="cicd cicd-inflam">
          <h1>Antiinflamatory Compound</h1>
          <input id="typeahead-inflam" placeholder="CAS ID/Pubchem Name/IUPAC Name"
          type="text" class="form-control"
          [(ngModel)]="modelInflam"
          [ngModelOptions]="{standalone: true}"
          [ngbTypeahead]="searchInflam" required/>
        </div>
      </div>

      <h1>Target Side</h1>
      <div class="cic-target">
        <div class="cict cict-efficacy">
          <h1>Efficacy</h1>
          <input
            id="typeahead-focus"
            placeholder="Disease Group"
            type="text"
            class="form-control"
            [(ngModel)]="modelEfficacy"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchEfficacy"
            (focus)="focusEfficacy$.next($any($event).target.value)"
            (click)="clickEfficacy$.next($any($event).target.value)"
            (selectItem)="selectedEfficacy($event)"
            [editable]="false"
            #instanceEfficacy="ngbTypeahead"
          required/>
        </div>
        <div class="cict cict-activity">
          <h1>Activity</h1>
          <h6 [style.display]="clickedEfficacy ? 'none' : 'inline'"
          [style.color]="'#F1F1F1'"
          >Choose Efficacy First</h6>
          <input
            [style.display]="clickedEfficacy ? 'inline' : 'none'"
            id="typeahead-focus"
            placeholder="Disease Subgroup"
            type="text"
            class="form-control"
            [(ngModel)]="modelActivity"
            [ngModelOptions]="{standalone: true}"
            [ngbTypeahead]="searchActivity"
            (focus)="focusActiviy$.next($any($event).target.value)"
            (click)="clickActiviy$.next($any($event).target.value)"
            (selectItem)="selectedActivity($event)"
            [editable]="false"
            #instanceActivity="ngbTypeahead"
          required/>
        </div>
        <div class="cict cict-target">
          <h1>Target</h1>
          <h6 [style.display]="clickedEfficacy && clickedActivity ? 'none' : 'inline'"
          [style.color]="'#F1F1F1'"
          >Choose Efficacy & Activity First</h6>
          <input
          [style.display]="clickedEfficacy && clickedActivity ? 'inline' : 'none'"
          id="typeahead-target"
          type="text"
          placeholder="CAS ID/Pubchem Name/IUPAC Name"
          class="form-control"
          [(ngModel)]="modelTarget"
          [ngModelOptions]="{standalone: true}"
          [ngbTypeahead]="searchTarget" required/>
        </div>
      </div>

      <div class="ci-form">
        <button type="reset" class="reset">Reset</button>
        <button type="submit" [ngx-scroll-to]="'#destination'" class="search">Search</button>
      </div>
    </form>
    </div>
  </div>
  <div id="destination">
  </div>
</div>

<div id="loading" *ngIf='showloadfirst'>
  <div class="loader"></div>
  <h5>loading..</h5>
</div>

<div id="loading" *ngIf='showload'>
  <div class="loader"></div>
  <h5>predicting..</h5>
</div>

<div id="c-result" *ngIf='showresult'>
  <div class="container">
    <h1>Cluster Result</h1>
    <p>The result based your input</p>
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="Summary">
        <ng-template ngbTabContent>
          <div class="drs-place">
            <div class="drsp-atas">
              <div class="drspa-atas">
                <h6 class="score">{{totalScore}}</h6>
                <h6 class="scoreName">Total Connectivity Score</h6>
              </div>
              <div class="drspa-bawah">
                <div>
                  <h6 class="score" [style.color]="'#2ECC43'">{{pla_com_score}}</h6>
                  <h6 class="scoreName">Plant-Compound Connectivity Score</h6>
                </div>
                <div>
                  <h6 class="score" [style.color]="'#94AE27'">{{com_pro_score}}</h6>
                  <h6 class="scoreName">Compound-Protein Connectivity Score</h6>
                </div>
                <div>
                  <h6 class="score" [style.color]="'#AE2762'">{{pro_dis_score}}</h6>
                  <h6 class="scoreName">Protein-Disease Connectivity Score</h6>
                </div>
              </div>
            </div>

            <div class="drsp-bawah">
              <div class="drspb-kiri">
                <div>
                  <h6 class="score">{{meta_pla}}</h6>
                  <h6>Plants</h6>
                </div>
                <div>
                  <h6 class="score">{{meta_com}}</h6>
                  <h6>Compounds</h6>
                </div>
                <div>
                  <h6 class="score">{{meta_pro}}</h6>
                  <h6>Proteins</h6>
                </div>
                <div>
                  <h6 class="score">{{meta_dis}}</h6>
                  <h6>Diseases</h6>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Connectivity Graph">
        <ng-template ngbTabContent>
          <div class="btn btn-primary" (click)="downloadImage()">DL</div>
          <div id="download">
            <img #canvas>
            <a #downloadLink></a>
          </div>
          <div class="legendgraph">
          <p>Plant</p>
          <p>Compound</p>
          <p>Compound</p>
          <p>Protein</p>
          <p>Disease</p>
          </div>
          <div #screen class="chartnya">
            <google-chart *ngIf="showChart"
               #chart
               [title]="title"
               [type]="type"
               [data]="sankeyData"
               [columnNames]="columnNames"
               [options]="options"
               [width]="width"
               [height]="height">
            </google-chart>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Connectivity Table">
        <ng-template ngbTabContent>
          <div class="ct_button">
              <button [style.background]="pla_com_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="pla_com_btn ? '#ffffff' : '#000000'"
                      (click)="pla_com_on()">Plant - Compound</button>
              <button [style.background]="com_com_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="com_com_btn ? '#ffffff' : '#000000'"
                      (click)="com_com_on()">Compound Similarity</button>
              <button [style.background]="com_pro_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="com_pro_btn ? '#ffffff' : '#000000'"
                      (click)="com_pro_on()">Compound - Protein</button>
              <button [style.background]="pro_dis_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="pro_dis_btn ? '#ffffff' : '#000000'"
                      (click)="pro_dis_on()">Protein - Disease</button>
          </div>
          <div class="ct_table" *ngIf="pla_com_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="plavscom_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Plant Id</th>
                  <th>Plant Latin</th>
                  <!-- <th>Plant Indonesia</th> -->
                  <th>Connectivity Weight</th>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <!-- <th>Compound IUPAC</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let placom_con_table of plavscom_table">
                  <td>{{placom_con_table.pla_id}}</td>
                  <td><a href="javascript:void(0)" (click)="generateLink(placom_con_table.pla_nlat)">{{placom_con_table.pla_nlat}}</a></td>
                  <!-- <td>{{placom_con_table.pla_nidr}}</td> -->
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{placom_con_table.weight}}</td>
                  <td>{{placom_con_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{placom_con_table.com_npub}}" target="_blank">{{placom_con_table.com_npub}}</a></td>
                  <!-- <td>{{placom_con_table.com_npac}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ct_table" *ngIf="com_com_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="comvscom_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <!-- <th>Compound IUPAC</th> -->
                  <th>Connectivity Weight</th>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <!-- <th>Compound IUPAC</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compro_con_table of comvscom_table">
                  <td>{{compro_con_table.com_id}}</td>
                  <td>{{compro_con_table.com_npub}}</td>
                  <!-- <td>{{compro_con_table.com_npac}}</td> -->
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{compro_con_table.weight}}</td>
                  <td>{{compro_con_table.com_id2}}</td>
                  <td>{{compro_con_table.com_npub2}}</td>
                  <!-- <td>{{compro_con_table.pro_uab}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ct_table" *ngIf="com_pro_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="comvspro_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Compound Id</th>
                  <th>Compound Name</th>
                  <!-- <th>Compound IUPAC</th> -->
                  <th>Connectivity Weight</th>
                  <th>Protein Id</th>
                  <th>Protein Name</th>
                  <!-- <th>Protein Uniprot ABBRV</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compro_con_table of comvspro_table">
                  <td>{{compro_con_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{compro_con_table.com_npub}}" target="_blank">{{compro_con_table.com_npub}}</a></td>
                  <!-- <td>{{compro_con_table.com_npac}}</td> -->
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{compro_con_table.weight}}</td>
                  <td>{{compro_con_table.pro_id}}</td>
                  <td><a href="https://www.uniprot.org/uniprot/{{compro_con_table.pro_name}}" target="_blank">{{compro_con_table.pro_name}}</a></td>
                  <!-- <td>{{compro_con_table.pro_uab}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ct_table" *ngIf="pro_dis_btn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="provsdis_table" class="row-border hover">
              <thead>
                <tr>
                  <th>Protein Id</th>
                  <th>Protein Name</th>
                  <th>Connectivity Weight</th>
                  <th>Disease Id</th>
                  <th>Disease Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let con_proDis of provsdis_table">
                  <td>{{con_proDis.pro_id}}</td>
                  <td>{{con_proDis.pro_name}}</td>
                  <td [style.width]="'40px'" [style.background]="'#8cff92'">{{con_proDis.weight}}</td>
                  <td>{{con_proDis.dis_id}}</td>
                  <td>{{con_proDis.dis_name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Metadata">
        <ng-template ngbTabContent>
          <div class="ct_button">
              <button [style.background]="pla_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="pla_btn ? '#ffffff' : '#000000'"
                      (click)="pla_on()">Plant</button>
              <button [style.background]="com_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="com_btn ? '#ffffff' : '#000000'"
                      (click)="com_on()">Compound</button>
              <button [style.background]="pro_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="pro_btn ? '#ffffff' : '#000000'"
                      (click)="pro_on()">Protein</button>
              <button [style.background]="dis_btn ? '#2ECC71' : '#C9C6C6'"
                      [style.color]="dis_btn ? '#ffffff' : '#000000'"
                      (click)="dis_on()">Disease</button>
          </div>
          <div class="meta_table" *ngIf="pla_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="pla_meta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Plant ID</th>
                  <th>Latin Name</th>
                  <th>Indonesia Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pla_meta_table of pla_meta_table">
                  <td>{{pla_meta_table.pla_id}}</td>
                  <td><a href="javascript:void(0)" (click)="generateLink(pla_meta_table.pla_nlat)">{{pla_meta_table.pla_nlat}}</a></td>
                  <td>{{pla_meta_table.pla_nidr}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="meta_table" *ngIf="com_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="com_meta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Compound ID</th>
                  <th>Pubchem Name</th>
                  <th>IUPAC Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let com_meta_table of com_meta_table">
                  <td>{{com_meta_table.com_id}}</td>
                  <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{com_meta_table.com_name}}" target="_blank">{{com_meta_table.com_name}}</a></td>
                  <td>{{com_meta_table.com_npac}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="meta_table" *ngIf="pro_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="pro_meta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Protein ID</th>
                  <th>Uniprot Name</th>
                  <th>ABBRV Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pro_meta_table of pro_meta_table">
                  <td>{{pro_meta_table.pro_id}}</td>
                  <td><a href="https://www.uniprot.org/uniprot/{{pro_meta_table.pro_uab}}" target="_blank">{{pro_meta_table.pro_name}}</a></td>
                  <td><a href="https://www.uniprot.org/uniprot/{{pro_meta_table.pro_uab}}" target="_blank">{{pro_meta_table.pro_uab}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="meta_table" *ngIf="dis_btn">
            <table datatable [dtOptions]="dtOptions" *ngIf="dis_meta_table" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Disease ID</th>
                  <th>Disease Name</th>
                  <th>OMIM Number</th>
                  <th>ABBRV Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dis_meta_table of dis_meta_table">
                  <td>{{dis_meta_table.dis_id}}</td>
                  <td><a href="https://www.omim.org/entry/{{dis_meta_table.dis_oid}}" target="_blank">{{dis_meta_table.dis_name}}</a></td>
                  <td><a href="https://www.omim.org/entry/{{dis_meta_table.dis_oid}}" target="_blank">{{dis_meta_table.dis_oid}}</a></td>
                  <td><a href="https://www.uniprot.org/diseases/?query={{dis_meta_table.dis_uab}}&sort=score" target="_blank">{{dis_meta_table.dis_uab}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
