<div class="cu-container">
    <div class="cu-left">
    </div>
    <div class="cu-right">
      <div class="cu-judul">Contact Us</div>
      <div class="cu-form">
        <form>
            <h6>Name</h6>
            <input type="text" class="form-control"/>
            <h6>Email</h6>
            <input type="text" class="form-control"/>
            <h6>Affiliation</h6>
            <input type="text" class="form-control"/>
            <h6>Subject</h6>
            <input type="text" class="form-control" required/>
            <h6>Message</h6>
            <textarea type="text" class="form-control" rows="8" cols="80"></textarea>
        </form>
        <div class="cuf-button">
          <button>Submit</button>
        </div>
      </div>
    </div>
    <img src="assets/img/contactus.png" />
</div>
