@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~aos/dist/aos.css";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap'); */

body, * {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
}

.dropdown-item.active, .dropdown-item:active{
  color: black;
  background-color: #7BEE84 !important;
}

.dropdown-item{
  padding: 7px 20px !important;
}


/* table */
tr{
    background: white;
}

thead tr{
  background: #3E4B3E;
  color: white;
}

.table td{
  border : 1px solid #8A8A8A;
}

thead th{
  border : 1px solid #3E4B3E;
}


/* synergi bootstrap */
#s-result .page-item.active .page-link{
  background: #2ECC71;
  border-color: #2ECC71;
  color: white;
}

#s-result .d-flex .page-link{
  color: #2ECC71;
}

/* cluster bootstrap */

#c-result h1{
  margin-bottom: 30px;
}
#c-result .nav-link{
  background-color: #C9C6C6;
  color: black;
}

#c-result .active{
  color: white;
  background-color: #2ECC71;
}

#c-result .tab-pane{
  background-color: white !important;
  padding: 2rem 0 0 0;
  color: black;
  border-top: 5px solid #2ECC71;
}

#c-result .nav-tabs .nav-link{
  border: none;
  border-radius: 0;
}


/* input drugtarget */
#d-input .di-container .nav-link{
  background-color: #C9C6C6;
  border-radius: 50px;
  color: black;
}

#d-input .di-container .nav-item .active{
  background-color: blue !important;
}

/* result drugtarget */
#d-result h1{
  margin-bottom: 30px;
}
#d-result .nav-link{
  background-color: #C9C6C6;
  color: black;
}

#d-result .active{
  color: white;
  background-color: #2ECC71;
}

#d-result .tab-pane{
  background-color: white !important;
  padding: 2rem 0 0 0;
  color: black;
  border-top: 5px solid #2ECC71;
}

#d-result .nav-tabs .nav-link{
  border: none;
  border-radius: 0;
}

/* synergi result datatable */
#s-result #DataTables_Table_0_wrapper {
  z-index: 500 !important;
}

.html2canvas-container { height: 3000px !important; }


#c-input ngb-typeahead-window#ngb-typeahead-4 {
    max-height: 350px !important;
    overflow-y: auto !important;
}

#loading{
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading h5, #loading h3{
  color: white;
}

#errMsg{
    position: fixed;
    z-index: 700000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#errMsg h3, #errMsg h5, #errMsg p, #errMsg h6{
  color: white;
}

.failed-modal{
  width: 600px;
  height: 350px;
  background: #ff3030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 10px;
  position: relative;
}

.failed-modal button{
  padding: 6px 18px;
  color: white;
  background-color: #ff3030;
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.success-modal{
  width: 600px;
  height: 350px;
  background: #55db46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 10px;
  position: relative;
}

.success-modal button{
  padding: 6px 18px;
  color: white;
  background-color: #55db46;
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.loader {
  border: 20px solid white; /* Light grey */
  border-top: 20px solid #4CAF50; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header{
  padding: 1em;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2000 !important;
}

.google-visualization-tooltip{
  font-size: 17px !important;
  height: auto !important;
}
/* footer{
  z-index: 2000 !important;
} */
