<div id="h-banner">
  <div class="hb-judul" data-aos="fade-down" data-aos-once="true">
    <h1>IJAH ANALYTICS</h1>
    <p>Find connectivity between plant-compound and protein-disease, for jamu formula</p>
  </div>
  <div class="hb-feature" data-aos="fade-down" data-aos-once="true">
    <div href="#" routerLink="/drugtarget" class="hbf-select">
      <img src="assets/img/molecular.png" />
      <h5>Drug-target</h5>
    </div>
    <div href="#" routerLink="/cluster" class="hbf-select">
      <img src="assets/img/herbs.png" />
      <h5>Classification</h5>
    </div>
    <div href="#" routerLink="/synergi" class="hbf-select">
      <img src="assets/img/metabolism.png" />
      <h5>Compound Synergy</h5>
    </div>
    <div href="#" routerLink="/contribute" class="hbf-select">
      <img src="assets/img/conntribute.png" />
      <h5>Contribute</h5>
    </div>
  </div>
</div>
<div id="h-ijah">
  <div class="hi-text" data-aos="fade-down" data-aos-once="true">
    <h1>What is IJAH Analytics?</h1>
    <p>Indonesian Herbal Herbs Analytics or IJAH Analytics is a website that provide prediction about herbal formulas that are suitable for a disease.
      <br /><br />IJAH Analytics is inspired by the habits of Indonesian people who use medicinal plants as a treatment for maintaining health, whose properties are known for generations.</p>
    <button><a href="https://drive.google.com/file/d/1HmK08j0Zxw0hLvkX_mMayVITs1wZaH6p/view?usp=sharing" target="_blank">Guide Book</a></button>
  </div>

</div>
<div id="h-feature">
  <div class="container">
    <h1 data-aos="fade-down" data-aos-once="true">Our Feature</h1>
    <div class="hf-select" data-aos="fade-down" data-aos-once="true">
      <img src="assets/img/feautre1.png" />
      <div class="hfs-drugtarget">
        <h4>Drug-Target Connectivity</h4>
        <p>The drug targeting formulation focuses on the types of plants that contain
          compounds and then targets proteins that have a role in a disease. using input
          from the drug side or target side including plants, compounds, proteins, and diseases,
          using k-partite graph visualization as a result of input output. so the user can
          Validate / cross check whether some plant compositions, namely the Herbal formula,
          have certain properties</p>
        <button type="button" href="#" routerLink="/drugtarget">Predict Drug-Target</button>
      </div>
    </div>
    <div class="hf-select" data-aos="fade-down" data-aos-once="true">
      <img src="assets/img/feature2.png" />
      <div class="hfs-cluster">
        <h4>Classification Connectivity</h4>
        <p>Molecular new herbal formulations are produced by focusing on compounds that
          target certain diseases. Through the four properties of plants that are the basic
          ingredients of herbal medicine with the main properties
          which targets certain diseases, with compound input with four
          properties, analgesics, anti-inflammatory, antibacterial, and compounds with activity
          certain efficacy. The data used is taken from the IJAHAnalytics database</p>
        <button type="button" href="#" routerLink="/cluster">Predict Cluster</button>
      </div>
    </div>
    <div class="hf-select" data-aos="fade-down" data-aos-once="true">
      <img src="assets/img/feature3.png" />
      <div class="hfs-synergi">
        <h4>Compound synergy</h4>
        <p>Analysis of the synergistic effect on the constituents of drugs needs to be done to
          regulating the obtained herbal formula has a positive synergy effect from the composition
          compiler of herbal formula. General Effects done conventionally in the laboratory
          case by case.</p>
        <button type="button" href="#" routerLink="/synergi">Predict synergy</button>
      </div>
    </div>
  </div>
</div>

<div id="h-contribute">
  <div class="container" data-aos="fade-down" data-aos-once="true">
    <div class="hc-left">
      <h1>You can Contribute to Enhance
        IJAH Analytics</h1>
      <p>Yes, here you can contribute to enhance IJAH Analytics's data,
        feel free to submit your publication here, We are thanking you
        for your contribution. Your contribution will be cited.
      </p>
      <button type="button" routerLink="/contribute">Contribute Now</button>
    </div>
    <div class="hc-right">
      <img src="assets/img/contribute.png" />
    </div>
  </div>
</div>

<div id="h-sitasi">
  <div class="container" data-aos="fade-down" data-aos-once="true">
    <div class="hs-left">
      <img src="assets/img/citate.png" />
    </div>
    <div class="hs-right">
      <h1>Citing IJAH Analytics ?</h1>
      <p>You can citing IJAH Analytics, for your documentation or your publication</p>
      <button type="button" (click)="openCite()">Citing IJAH Analytics</button>
    </div>
  </div>
</div>

<div id="loading" *ngIf='showCite'>
  <div class="success-modal">
    <h3><b>Citing IJAH Analytics</b></h3>
    <h5>Kusuma, Wisnu Ananta, et al. “IJAH Analytics.” IJAH Analytics, Tropical Biopharmaca
      Research Center, 2017, ijah-analytics-frontend.herokuapp.com/.</h5>
    <button type="button" name="button" (click)="openCite()">Ok</button>
  </div>
</div>
