<div id="h-banner">
  <div class="hb-judul" data-aos="fade-down" data-aos-once="true">
    <h1>IJAH ANALYTICS</h1>
    <p>Find connectivity between plant-compound and protein-disease, for jamu formula</p>
  </div>
  <div class="hb-feature" data-aos="fade-down" data-aos-once="true">
    <div class="hbf-select">
      <img src="assets/img/molecular.png" />
      <h5>Drug-target</h5>
    </div>
    <div class="hbf-select">
      <img src="assets/img/herbs.png" />
      <h5>Cluster</h5>
    </div>
    <div href="#" routerLink="/synergi" class="hbf-select">
      <img src="assets/img/metabolism.png" />
      <h5>Compound Synergi</h5>
    </div>
    <div class="hbf-select">
      <img src="assets/img/conntribute.png" />
      <h5>Contribute</h5>
    </div>
  </div>
</div>
<div id="h-ijah">
  <div class="hi-text" data-aos="fade-down" data-aos-once="true">
    <h1>What is IJAH Analytics?</h1>
    <p>Indonesian Herbal Herbs Analytics or IJAH Analytics is a website that provides information on the connectivity of compounds to proteins in a disease so that they can provide predictions about herbal formulas that are suitable for a disease.
      <br /><br />IJAH Analytics is inspired by the habits of Indonesian people who use medicinal plants as a treatment for maintaining health, whose properties are known for generations.</p>
    <button>Guide Book</button>
  </div>

</div>
<div id="h-feature">
  <div class="container">
    <h1 data-aos="fade-down" data-aos-once="true">Our Feature</h1>
    <div class="hf-select" data-aos="fade-down" data-aos-once="true">
      <img src="assets/img/feautre1.png" />
      <div class="hfs-drugtarget">
        <h4>Drug-Target Connectivity</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply
          random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old.
          Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin
          words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature,
          discovered the undoubtable source.</p>
        <button>Predict Drug-Target</button>
      </div>
    </div>
    <div class="hf-select" data-aos="fade-down" data-aos-once="true">
      <img src="assets/img/feature2.png" />
      <div class="hfs-cluster">
        <h4>Cluster Connectivity</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply
          random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old.
          Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin
          words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature,
          discovered the undoubtable source.</p>
        <button>Predict Cluster</button>
      </div>
    </div>
    <div class="hf-select" data-aos="fade-down" data-aos-once="true">
      <img src="assets/img/feature3.png" />
      <div class="hfs-synergi">
        <h4>Compound Synergi</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply
          random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old.
          Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin
          words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature,
          discovered the undoubtable source.</p>
        <button>Predict Synergi</button>
      </div>
    </div>
  </div>
</div>

<div id="h-contribute">
  <div class="container" data-aos="fade-down" data-aos-once="true">
    <div class="hc-left">
      <h1>You can Contribute to Enhance
        IJAH Analytics</h1>
      <p>Yes, here you can contribute to enhance IJAH Analytics's data,
        feel free to submit your publication here, We are thanking you
        for your contribution. Your contribution will be cited.
      </p>
      <button>Contribute Now</button>
    </div>
    <div class="hc-right">
      <img src="assets/img/contribute.png"/>
    </div>
  </div>
</div>

<div id="h-sitasi">
  <div class="container" data-aos="fade-down" data-aos-once="true">
    <div class="hs-left">
        <img src="assets/img/citate.png"/>
    </div>
    <div class="hs-right">
      <h1>Citing IJAH Analytics ?</h1>
      <p>You can citing IJAH Analytics, for your documentation or your publication</p>
      <button>Citing IJAH Analytics</button>
    </div>
  </div>
</div>
